.score-text {
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  float: left;
}
.table-board{
  float: left;
}
.game-over-text{
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}
.score-board{
  float: right;
}
.score-text-game-over {
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}
.game-over-content
{
  text-align: center;
  animation: game-over-content-highlight infinite 5s linear;
}
@keyframes game-over-content-highlight {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}
.score-text-score-decrement{
  color: red;
  font-size: 30px;
  font-weight: bold;
  opacity: 1;
  float: right;
  animation:score-text-score-decrement-anim infinite 0.5s linear;
}
@keyframes score-text-score-decrement-anim {
  0% { transform: translateY(0px);opacity: 1; }
  100% { transform: translateY(100px);opacity: 0; }
}