
.button {
  height:60px;
  width:60px;
  margin:2px;
  padding-left:0px;
  padding-right:0px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button-rotate {
  height:60px;
  width:60px;
  margin:2px;
  padding-left:0px;
  padding-right:0px;
  text-align: center;
  animation: 1s ease-out 0s 1 button-rotate-animation;
}
@keyframes button-rotate-animation{
  0% {
    transform:  rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform:  rotateY(180deg);
    opacity: 0;
  }
}
.button:hover {
  transform: scale(1.2);
}
.display-value {
  height:60px;
  width:60px;
  border: 1px solid black;
  margin:2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.display-value-diamond {
  height:60px;
  width:60px;
  border: 1px solid black;
  margin:2px;
  animation: 1s ease-out 0s 1 display-value-diamond-animation;
}
@keyframes display-value-diamond-animation {
  0% {
    transform: scale(1.2) rotate(0deg);
  }
  25% {
    transform: scale(1.2) rotate(15deg);
  }
  50% {
    transform: scale(1.2) rotate(-15deg);
  }
  75% {
    transform: scale(1.2) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
.images {
  height:60px;
  width:60px;
}
.right {
  transform: rotate(180deg)
}
.down {
  transform: rotate(90deg)
}
.up {
  transform: rotate(270deg)
}
